body {
    margin: 0;

    .C {

        width: 255px;
        height: 25px;
        border: 3px solid red;
        background-color: yellow;
        padding: 10px;

        .A {
            position: relative;
            left: 10px;

            .A {
                position: relative;
                left: 25px;
                bottom: 13px;

                .A {
                    position: relative;
                    left: 20px;

                    .B {
                        position: relative;
                        left: 20px;
                        bottom: 23px;

                        .B {
                            position: relative;
                            left: 25px;
                        }
                    }
                }
            }
        }
    }
}