html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#outer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .box {
        display: flex;
        justify-content: center;
        width: 75px;
        height: 70px;
        padding-top: 5px;
        color: white;
    }

    :nth-child(1) {
        background-color: lightgray;
        align-self: flex-start;
    }

    :nth-child(2) {
        background-color: gray;
    }

    :nth-child(3) {
        background-color: rgb(173, 173, 173);
        align-self: flex-end;
    }
}