<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js – Zad 01</title>
    <link rel="stylesheet" href="styl.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <section id="zadanie01">
      <!-- 1) Poniżej umieść swoje imię i nazwisko -->
      <h2>{{ fullName }}</h2>

      <!--
        2) Z poniżego elementu typu input pobież „swój wiek” i umieść
           go w sposób opisany na stronie wewnątrz pniższego akapitu.
      -->
      Ile masz lat? <input type="text" v-model="age"/>
      <p>{{ wrapAge }}</p>

      <!--
        3) Poniżej umieść swój wiek w roku podanym w polu input, ale zrób to
           jedynie wówczas, gdy wczytany rok faktycznie jest „z przyszłości”.
      -->
      Rok z przyszłości: <input type="text" v-model="futureYear">
      <p>{{ futureAge }}</p>

      <!--
        4) Poniżej (za tekstem „Ulubiona liczba: ”) wyświetl losowo wygenerowaną
           liczbę naturalną z przedziału (0 to 100).
      -->
      <p>Ulubiona liczba: {{ favouriteNumber }}</p>
      <div>
        <!-- 5) Wyświetl jakiś obraz wyszukany w Google (użyj v-bind) -->
        <img :src="imgUrl" />
      </div>

      <!-- 6) Korzystając z atrybutu „value” wpisz do pola „input” swoje imię -->
      <input :value="name" type="text" />
    </section>
  </body>
</html>
